@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

$bg-color: #001EBA;
$padding: 15px;
$margin: 15px;
$borders: 15px;
$tablet: 769px;
$font-stack: 'Roboto', sans-serif;

body {
    font-family: $font-stack;
    min-height: 100vh;

    section#bg {
        clip-path: polygon(100% 0, 100% 80% 45% 100% 0 100% 0 0);
        background-color: $bg-color;
        height: 100vh;
        width: 100vw;
        position: absolute;

        header a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            padding: $padding;
        }

        main {
            section#card {
                background-color: white;
                padding: $padding + 5px;
                margin: $margin auto;
                border-radius: $borders;
                box-shadow: 0 10px 30px rgba($color: #000000, $alpha: 3);
                width: 80%;

                ul {
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;

                    li {
                        display: flex;
                        align-items: center;
                        margin: calc($margin / 2);

                        span {
                            width: 30px;
                            height: 30px;
                        }

                        strong {
                            display: inline-block;
                            margin-left: $margin;
                        }
                    }
                }
            }

            section#primary {
                color: white;
            }
        }
    }
}